nav{
    width: 100%;
    height: 150px;
 
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.nav1{
    width: 25%;
    height: 150px;
     color: #2e2b2b;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
font-size: 16px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: ;
}
.nav2{
    width: 40%;
    height: 150px;
     
    display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
background-color:;
}
.nav1 div{
    height: 25px;
    width: 25px;
    border-radius: 20px;
    background-color: azure;
    display: flex;
   
    justify-content: center;
    align-items: center;
    background-color: rgb(83, 83, 232);
}
.nav1 div i{
    color: white;
    font-size: 12px;
     
}
.nav2 a{
    text-decoration: none;
    font-size: 12px;
    color: #252323;
}
.button{
    height: 38px;
    width: 90px;
   
    border-radius: 5px;
    background-color: rgb(233, 82, 82);
    color: white;
    border: 2px solid black;
}
.nav2 i{
    font-size: 20px;
    display: none;
}
 
 
@media screen and (max-width:610px) and (min-width:0px) {
    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative
      }
   
    .nav2 a{display: none;}
    .nav2 button{ display: none;}
     .nav2 i{display: block;}
    .nav2{ justify-content: end;}
    nav{height: 50px;}
     
   
    

}
 
 @media screen and (max-width:800px) and (min-width:610px) {
    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative
      }
   
    .nav2 a{display: block;}
    .nav2 button{ display: block;}
     
     .nav2{width:60% ;} 
    
     
   
    

}
@media screen and (max-width:1000px) and (min-width:800px) {
    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative
      }
   
    .nav2 a{display: block;}
    .nav2 button{ display: block;}
     
    .nav2{width:50% ;}} 
    
 
















 
.page-2{
    width: 600px;
    height: 400px;
     
     
     
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color:  #383636;

}

.page-2 h2{
    font-size: 3rem;
    line-height: 1;
    font-family: arial;
    color: #292828;
}
.page-2 p{
    line-height: 1;
    font-size: 20px;
    color: #878181;
}
.page-1{
    height: 70px;
    width: 370px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border: none;
}
.button1{
    width:170px ;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: rgb(83, 83, 232);
    border: none;
    font-size: 15px;
    transition: 0.5s;
}
.button1:hover{
    background-color: rgb(250, 244, 244);
color: rgb(31, 29, 29);}
.button2:hover{   
    background-color: rgb(83, 83, 232);
color: white;}
.button2{
    transition: 0.5s;
    width:170px ;
    height: 50px;
    border-radius: 5px;
    color: rgb(31, 29, 29);
    background-color:  rgb(250, 244, 244);
    border: 1px sold;
    border: none;
    font-size: 15px;
    -moz-box-shadow: 4px 4px 4px #a5a0a0; 
    -webkit-box-shadow: 4px 4px 4px #a09d9d; 
    box-shadow: 1px 2px 4px #afaeae;
}
.page-3{
    
    padding: o;
    width: 520px ;
    height: 100px;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.page-3 img{
    width: 520px ;
    height: 350px;
    border-radius: 5px;
}
.page{width: 1100px;
    height: 400px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 80px;
    position: relative;
    top: 14px;
    z-index: 1;
    
    
}
.page-4{
    width: 620px;
    height: 330px;
    border-top-left-radius: 170px;
    border-bottom-left-radius: 170px;
    background-color: rgb(83, 83, 232);
}
.page-5{
    width: 100%;
    height: 300px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    position: relative;
    
    bottom:250px;
    z-index: -1px;
}
 
@media screen and (max-width:610px) and (min-width:0px) {
    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative
      }
   
    .page-5{display: none;}
    .page{ flex-direction: column-reverse;  margin: 50px 50px;}
     .page-3 img{width: 470px; height: 300px;}
    .page{  height:700px; }
    .page-2 h2{font-size: 20px;  align-items: center;}
    .page-2 p{ line-height: 30px;  align-items: center; }
    
     

}
@media screen and (max-width:800px) and (min-width:610px) {
    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative
      }
    .page-5{display: none;}
    .page{ flex-direction: column-reverse;  margin: 20px 140px; }
     .page-3 img{width: 450px; height: 300px;}
    .page{  height:700px; }
    .page-2 h2{font-size: 20px;  align-items: center;}
    .page-2 p{ line-height: 30px;  align-items: center; }
    
     

}
 @media screen and (max-width:1000px) and (min-width:800px) {
    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative
      }
     
      .page-5{display: none;}
      .page{ flex-direction: column-reverse;  margin: 20px 140px; }
       .page-3 img{width: 600px; height: 350px;}
      .page{  height:700px; }
      .page-2 h2{font-size: 20px;  align-items: center;}
      .page-2 p{ line-height: 30px;  align-items: center; }

}   

 .page1{
    width: 100%;
    height: 250px;
   
    position: relative;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;
line-height: 20px;
 
 }
 .page1 div{
    height: 200px;
    width: 300px;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 17px;
     color: #000;
 }
 .page1 div p{
   
    color: #878181;
 }
 .button3{
    width:120px ;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: rgb(83, 83, 232);
    border: none;
    font-size: 18px;
 }
 .button3:hover{
    background-color: rgb(250, 244, 244);
    color: rgb(31, 29, 29);
    -moz-box-shadow: 4px 4px 4px #a5a0a0; 
    -webkit-box-shadow: 4px 4px 4px #a09d9d; 
    box-shadow: 1px 2px 4px #afaeae;
 }
 .page2a img{
    width: 500px ;
    height: 300px;
 }
 .page2b{
    padding: 00px 90px;
 }
 .page2c{ 
     width: 100%;
    height: 300px;
     
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    position: relative;
    
    bottom:160px;
    z-index: -1px;}
 .page-2c{
    width: 550px;
    height: 300px;
    border-top-right-radius: 170px;
    border-bottom-right-radius: 170px;
    background-color: rgb(83, 83, 232);
 }

 .page2{width: 1100px;
    height: 300px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -40px 80px;
    position: relative;
    top: 14px;
    z-index: 1;
     
     
    
}
p{color: #878181;
}
.page3a{
    width: 600px;
    height: 300px;
     
     
     
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color:  #383636;
}
.page3a h2{
    font-size: 2rem;
    line-height: 1;
    font-family: arial;
    color: #292828;
}
h2{
    color: #292828;
}

.page3{width: 1100px;
    height: 400px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -40px 80px;
    position: relative;
    top: 14px;
    z-index: 1;
    
    
}
.page-3c{
    width: 600px;
    height: 330px;
    border-top-left-radius: 170px;
    border-bottom-left-radius: 170px;
    background-color: rgb(83, 83, 232);
}
.page3c{
    width: 100%;
    height: 300px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    position: relative;
    
    bottom:180px;
    z-index: -1px;
}
 




@media screen and (max-width:610px) and (min-width:0px) {
    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative
      }
   
    .page2c{display: none;}
    .page2{ flex-direction: column;  margin: -40px 50px;  height:700px; }
     .page2a img{width: 470px; height: 300px;}
     .page3{ flex-direction: column-reverse;  margin: -40px 50px;  height:700px; }
    
    .page2b h2{font-size: 20px;   }
    .page2b p{ line-height: 30px;    }
    .page2b{margin: 90px 0px;padding: 0px; }
    .page3a{margin: 10px 0px; }
    .page3b{ margin: 10px 0px; align-items: center;}

}

.page4{
    width: 100%;
    height: 200px;
     
    margin: -200px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1px;
}
.page4 p{font-size: 20px;}
.page4 h3{font-size: 30px;}

.page5{
    width: 100%;
    height: 400px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding: 50px 0px;
    gap: 60px;
}
.page5 div{
    
     
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    line-height: 13px;
    
    -moz-box-shadow: 4px 4px 4px #a5a0a0; 
    -webkit-box-shadow: 4px 4px 4px #a09d9d; 
    box-shadow: 1px 2px 4px #afaeae;
}
.page5 div img{
    width: 100px;
    height: 100px;
}
 .a5{
    width: 290px;
    height: 250px;
 }
 .b5{
    width: 290px;
    height: 300px;
 }
 .c5{
    width: 290px;
    height: 350px;
 }
 .button4{
    width:270px ;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: rgb(83, 83, 232);
    border: none;
    font-size: 18px;
 }
 .button4:hover{
    background-color: rgb(250, 244, 244);
    color: rgb(31, 29, 29);
 }
 .a-5{
    width: 290px;
    height: 55px;
    display: flex;
    
    align-items: center;
    justify-content: center;

 }

 @media screen and (max-width:610px) and (min-width:0px) {
    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative
      }
    .page5{
        flex-direction: column; padding: 250px 10px; gap: 70px;
         
    }
    .page4{ margin: 20px; line-height:20px ;  align-items: start; padding: 20px;}
    .page5 div{
        width: 570px;  height: 300px;
    }
    .a-5{width: 570px; height: 55px;}
    .button4{width: 550px;}
     
    }
    .pa{
        font-size: 18px;
    }
    .page6{
        width: 100%;
        height: 600px;
       
        position: relative;
        bottom: 50px;
        display: flex;
        flex-direction: column;
        
    align-items: center;
    line-height: 20px;
    background-color: rgb(247 247 247);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     }
     .page6 div{
        width: 500px;
        height: 50px;
         
        border-bottom: 1px solid rgb(233, 226, 226);
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 200px;
    align-items: center;
     }
      
     .page6 div div{width: 400px; height: 50px;  border: none; font-size: 18px;}
     .page6 div div i{color: #394fcc;}

     .page7{
        width: 100%;
        height: 400px;
        background-color: #4e64dc;
        margin: -70px 0px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
     .page7 p{
        color: white;
     }
     .a7{
font-size: 17px;
     }
.b7{font-size: 30px;
line-height: 3px;}
.page7 div{
    width: 600px;
    height: 70px;
    background-color: transparent;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;

}
.button5{
    width: 130px;
    height: 50px;
    background-color: rgb(238, 67, 67);
    border: none;
    color: white;
    font-size: 17px;
    border-radius: 8px;
    transition: 1s;
}
.button5:hover{
    color: #000;
    background-color: white;
}
input{width: 400px ; height: 50px; border-radius: 8px; border: none;
font-size: 17px;}





     .page8{
        width: 100%;
        height: 100px;
        background-color: #1e1e37;
        margin: -70px 0px;
     }